/*
Name: Nicholas Hubbard
Class: Project & Portfolio IV
Date: 21 Sept 2019
*/

/*--- Header Nav and Footer---*/
body{
    background-color: #222222;
}

header {
    background: url("../images/tattoogun.png") center;
    background-blend-mode: darken;
    height: 50vh;
    background-size: cover;
    padding-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

header img {
    height: 200px;
    width: 300px;
    margin-bottom: 50px;
}

a{
    font-family: Papyrus, 'Times New Roman', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 4px 4px black;
}

ul {
    list-style-type: none;
    margin: 1em;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover{
    color: #24FFD4;
}

.active{
    color: #24FFD4;
}

.button {
    background: none;
    border: 0;
    box-sizing: border-box;
    padding-top: 0.5em;
    padding-right: 2em;
    padding-left: 2em;
    margin: auto;
    box-shadow: inset 0 0 0 2px white;
    font-weight: 700;
    position: relative;
    vertical-align: middle;
}
.button::before, .button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; }

.button{
    transition: color 0.25s; }
.button::before, .button::after{
    border: 2px solid transparent;
    width: 0;
    height: 0; }
.button::before{
    top: 0;
    left: 0; }
.button::after{
    bottom: 0;
    right: 0; }
.button:hover{
    color: #60daaa; }
.button:hover::before, .button:hover::after{
    width: 100%;
    height: 100%; }
.button:hover::before{
    border-top-color: #60daaa;
    border-right-color: #60daaa;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; }
.button:hover::after{
    border-bottom-color: #60daaa;
    border-left-color: #60daaa;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; }

#instagramlink {
    height: 50px;
    width: 50px;
}

.footer{
    padding-bottom: 50px;
}


/*--------- Typography ------------*/
html {
    font-family: "Times New Roman", Arial, sans-serif;
}

h1{
    font-family: Papyrus, Arial, sans-serif;
    font-size: 38px;
    color: #ffffff;
    margin-top: 1rem;
}

h2{
    font-family: Papyrus, Arial, sans-serif;
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 50px;
}

.underline {
    text-decoration: underline;
}

h3{
    font-family: Papyrus, Arial, sans-serif;
    font-size: 24px;
    color: #ffffff;
}

p{
    font-size: 20px;
    color: #ffffff;
}

#frontPage p{
   margin-bottom: 50px;
}


/*------- Sections --------*/
#welcome, #gallery, #aboutme{
    margin-bottom: 30px;
}

#frontPage img{
    height: 580px;
    width: 475px;
    border: 5px solid white;
    margin-bottom: 50px;
}

.banner {
    background: #16A085;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
}



/************************---------------------------------------------------Media **------------*/
@media(max-width: 574px){
    #seeMore {
        margin-bottom: 30px;
    }

    #frontPage img{
        height: 580px;
        width: 475px;
        border: 5px solid white;
        margin-bottom: 50px;
    }
}
@media(min-width: 575px) {
    #aboutme p {
        position: relative;
        top: 25%;
    }
    nav a{
        margin-right: 3rem;
    }

    #requestNav {
        float:right;
    }

    #frontPage img{
        height: 580px;
        width: 475px;
        border: 5px solid white;
        margin-bottom: 50px;
    }

}

@media(min-width: 700px) {
    html {
        font-size: 14px;
    }

    p {
        font-size: 16px;
    }
    header p{
        font-size: 12px;
    }

    #aboutme p {
        position: relative;
        top: 20%;
        font-size: 16px;
    }

    #frontPage img{
        height: 580px;
        width: 475px;
        border: 5px solid white;
        margin-bottom: 50px;
    }
}

@media(min-width: 768px){

    #frontPage img{
        height: 480px;
        width: 375px;
        border: 5px solid white;
        margin-bottom: 50px;
    }


}

@media(min-width: 991px) {
    html {
        font-size: 17px;
    }

    p {
        font-size: 17px;
    }
    header p{
        font-size: 14px;
    }

    #welcome p {
        position: relative;
        top: 18%;
        font-size: 19px;
    }
    #aboutme p{
        font-size: 19px;
    }
    #gallery .button{
        position: relative;
        top: 40%;
    }

    #frontPage img{
        height: 580px;
        width: 475px;
        border: 5px solid white;
        margin-bottom: 50px;
    }
}