/* Hiker's Guide CSS
================================================== 
================================================== */


html {
	font-size: 62.5%;
}

body{
    font: 1.6rem/1.5 "Program OT", Arial, Georgia, sans-serif;
	color: #AAAAAA;
	background: #222222;
}

/* TYPOGRAPHY */
h2{
	color: #EEEEEE;
	font-size: 3.5rem;
	font-weight: 900;
	text-transform: uppercase;
}

h3{
	color: #888888;
	font-weight: 900;
	font-size: 2.4rem;
	text-transform: uppercase;
}

/* BASE STRUCTURE */
/*
header, body > section, footer {
	border: 5px solid red;
	padding: 2rem;
}*/

/*
.wrapper {
	border: 5px solid white;
}*/

header, #recentPosts, #signUp{
	background-color: #222222;
}

nav{
	float: right;
}
nav li{
	display: inline-block;
}
nav a{
	display: block;
	padding: 1rem 2rem;
	color: inherit;
	font-weight: 900;
	text-transform: uppercase;
	text-decoration: none;
}

#testimonials{
	background-color: #1ABC9C;
}

#aboutUs {
	background-color: #111111;
}

footer {
	background-color: #000000;
}

header, #recentPosts, #signUp, .wrapper {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}






