/* Hiker's Guide CSS
================================================== 
================================================== */


html {
	font-size: 62.5%;
}

body{
    font: 1.6rem/1.5 "Program OT", Arial, sans-serif;
	color: #AAAAAA;
	background: #222222;
}

/* TYPOGRAPHY */
h2{
	color: #EEEEEE;
	font-size: 3.5rem;
	font-weight: 900;
	text-transform: uppercase;
}

h3{
	font: 1.6rem/1.5 "Georgia", sans-serif;
	color: #CCCCCC;
	font-weight: 900;
	font-size: 2.4rem;
	text-transform: uppercase;
}

h4{
	color: #AAAAAA;
	font-weight: 900;
	font-size: 1.8rem;
	text-transform: uppercase;
}

p{
	color: #888888;
	font-size: 1.4rem;
}



/* BASE STRUCTURE */
/*
header, body > section, footer {
	border: 5px solid red;
	padding: 2rem;
}*/

/*
.wrapper {
	border: 5px solid white;
}*/


/* LAYOUT */
header, #recentPosts, #signUp{
	background-color: #222222;
}

nav{
	float: right;
}
nav li{
	display: inline-block;
}

nav a{
	color: #EEEEEE;
	display: block;
	font-weight: 900;
	padding: 1rem 2rem;
	text-transform: uppercase;
	opacity: 50%;
}

nav a:hover{
	opacity: 100%;
}

nav a:active{
	opacity: 100%;
}

#main {
	background-image: url("../images/mountain.png"), url("../images/hikers1001.jpg");
	background-color: rgba(0,0,0,0.5);
	background-position: bottom left, center;
	background-size: 65%, 2000px 800px;
	background-repeat: no-repeat, no-repeat;
	max-width: 100%;
	max-height: 100%;
	background-blend-mode: normal, hue;
	border-bottom: solid 5px #222222;
}

#testimonials {
	background-color: #1ABC9C;
}

#aboutUs {
	background-color: #111111;
}



footer {
	background-color: #000000;
}


header, #recentPosts, #signUp, .wrapper {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
}


/******  RECENT POSTS  ******/
#recentPosts ul{
	padding: 0;
}

#recentPosts li {
	background-color: #111111;
	width: calc(100% / 3 - 20px);
	float: left;
	padding: 1em;
	padding-bottom: 60px;
	margin: 10px;
}

#recentPosts li p a {
	color: #EEEEEE;
	text-transform: uppercase;
}

#spaceAfter::after{
	content: " ";
	display: block;
	clear: both;
}

#readMore{
	color: #EEEEEE;
	Background-color: #1ABC9C;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	border-bottom: solid 5px #16A085;
	float: bottom;
}

#recentPosts ul::after {
	content: "";
	display: block;
	clear: both;
}

#aboutUs::after {
	content: "";
	display: block;
	clear: both;
}

#viewMore{
	font-size: 1.4rem;
	font-weight: 900;
	color: #888888;
	border: solid 2px #888888;
	text-transform: uppercase;
	padding: 0.75em;
	margin-top: 10px;
	margin-left: 45%;
}

/***** Testimonial *****/
#testimonials{
	background-image: url("../images/climbers.png"), url("../images/hikers1001.jpg");
	background-color: #16A085;
	background-position: bottom, bottom;
	background-size: 60%, 2000px 600px;
	background-repeat: no-repeat, no-repeat;
	max-width: 100%;
	max-height: 100%;
	padding: 7em;
	background-blend-mode: normal, hard-light;
	border-bottom: solid 20px #111111;
}
#testimonials p{
	color: #CCCCCC;
	font-size: 1.6rem;

}

/**** Sign Up ****/
#signUp h3{
	font: 1.6rem/1.5 "Program OT", Arial, sans-serif;
	color: #888888;
	font-weight: lighter;
	font-size: 2.4rem;
	text-transform: none;
	margin-left: 10%;
}

#signUp a{
	color: #1ABC9C;
	font-weight: bold;
}

/***** About Us Section *****/

#aboutUs .wrapper{
	display: grid;
	grid-template-columns: 300px 200px 400px;
	grid-gap: 50px;
}

#upcomingEvents h3, #newHikers h3, #about h3{
	border-bottom: solid 1px #888888;
	margin-bottom: 30px;
}

#upcomingEvents dt{
	color: #CCCCCC;
	font-weight: 900;
}

#upcomingEvents dl{
	margin-bottom: 20px;
}





/***** Footer *****/






